<!DOCTYPE html>
<html>

<head>
    <title>Tutor Finder</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="anime.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style1.css" /> -->
    <!-- <script type="text/javascript" src="modernizr.custom.86080.js"></script> -->
    <link rel="stylesheet" href="vegas.min.css">
    <script src="vegas.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
</head>


	<body>
		{{{ body }}}
	</body>
</html>