<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tutors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="language" content="en" />
    <meta name="msvalidate.01" content="" />
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Tutors"/>
    <meta property="og:description" content=""/>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.tutors.com/assets/styles/bootstrap.min.css">  
    <link rel="stylesheet" href="//cdn.tutors.com/assets/styles/global.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="/assets/js/anime.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style1.css" /> -->
    <!-- <script type="text/javascript" src="modernizr.custom.86080.js"></script> -->
    <link rel="stylesheet" href="/assets/css/vegas.min.css">
    <script src="/assets/js/vegas.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">


     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>


    <header>
      <nav class="animated slideInDown">
        <div class="nav-wrapper">
          <a href="/login" class="brand-logo logo">Tutor Finder</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Sign In/Up</a></li>
          </ul>
        </div>
      </nav>
      </header>

          
          <div class="container-fluid">
            <div class="text-frame category">
              <h1 class="">We help millions of students hire with confidence</h1>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <section class="content-block">
            <div class="row">
              <h2>Connecting you to the right teacher</h2>
              <p>Our technology is the best way for students to connect with right teachers at the right time. Tell us what you want to learn and we'll connect you with expert instructors so you can make an educated decision when you're ready to hire.</p>
            </div>
          </section>
        </div>


        <section class="info-section guaranteed">
          <div class="container-fluid">
            <h3>Meet the executive team</h3>
            <div class="people text-center">
              <div class="row">

                <div class="col-sm-4 col-xs-4 about_avatar">
                  <img class="img-circle" src="https://avatars0.githubusercontent.com/u/24356249?v=3&s=40" alt="Andrew Zahler">
                  <div class="about">Andrew Zahler</div>
                  <div class="position">Chief Executive Officer</div>
                </div>
                <div class="col-sm-4 col-xs-4 about_avatar">
                  <img class="img-circle" src="https://avatars0.githubusercontent.com/u/24356249?v=3&s=40" alt="Diaeddin Motan">
                  <div class="about">Diaeddin Motan</div>
                  <div class="position">Chief Operations Officer</div>
                </div>
                <div class="col-sm-4 col-xs-4 about_avatar">
                  <img class="img-circle" src="https://avatars0.githubusercontent.com/u/24356249?v=3&s=40" alt="Joe Skrzysowski">
                <div class="about">Joseph Skrzysowski</div>
                  <div class="position">Chief Technical Officer</div>
               </div>
             </div>
            </div>
          </div>
        </section>



       

<footer class="page-footer animated slideInUp">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Deloreans
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>

</footer>

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
  </body>
</html>