<header>
  <nav class="animated slideInDown">
    <div class="nav-wrapper">
<<<<<<< HEAD
      <a href="/login" class="brand-logo logo">Tutor Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/login">Sign In/Up</a></li>
=======
      <a href="#" class="brand-logo logo">Tutor Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Contact</a></li>
        <li><a href="collapsible.html">Sign In/Up</a></li>
>>>>>>> cdaf7bbf7fe80e9f63b3276cc089490cf1914691
      </ul>
    </div>
  </nav>
</header>
<main class="body">
<<<<<<< HEAD
=======

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="header-bg">
                    <h1 class="header-txt animated slideInLeft">THE BEST WAY TO</h1>
                    <h1 class="header-txt animated slideInRight">LEARN ANYTHING</h1>
                </div>
            </div>
        </div>
            <div class="row mid-main">
                <div class="col s4">
                  
                      <div class="first-div">
                          <i class="large material-icons">supervisor_account</i>
                          <p>In Person Lesson</p>
                      </div>
                  </div>
               
                <div class="col s4">
                  
                     
                      <div class="second-div">
                          <i class="large material-icons ">today</i>
                          <p>Instant Booking</p>
                      </div>
                      
                  </div>
                
                <div class="col s4">
                 
                      
                      <div class="third-div">
                          <i class="large material-icons ">schedule</i>
                          <p>Be Notified</p>
                      </div>
                 
            
>>>>>>> cdaf7bbf7fe80e9f63b3276cc089490cf1914691

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="header-bg">
        <h1 class="header-txt animated slideInLeft">THE BEST WAY TO</h1>
        <h1 class="header-txt animated slideInRight">LEARN ANYTHING</h1>
      </div>
    </div>
  </div>
  <div class="row mid-main">
    <div class="col s4">
      
      <div class="first-div">
        <i class="large material-icons">supervisor_account</i>
        <p>In Person Lesson</p>
      </div>
    </div>
    
    <div class="col s4">
      
      
      <div class="second-div">
        <i class="large material-icons ">today</i>
        <p>Instant Booking</p>
      </div>
      
    </div>
<<<<<<< HEAD
    
    <div class="col s4">
      
      
      <div class="third-div">
        <i class="large material-icons ">schedule</i>
        <p>Be Notified</p>
      </div>
      
      

      <!--                 <ol>
        {{#each students}}
          <li>
            {{this.name}}
            
          </li>
        {{/each}}
      </ol> -->             
    </div>
  </div>
</div>
</div>
</div>
=======
  </div>
</div>
>>>>>>> cdaf7bbf7fe80e9f63b3276cc089490cf1914691
</main>


<footer class="page-footer animated slideInUp">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Deloreans
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>

</footer>

<<<<<<< HEAD
<script type="text/javascript">
$document.ready(function() {
$('select').material_select();
});
var Privileges =JQuery('#users');
var select = this.value;
Privilages.change(function () {
if ($(this).val() == '2') {
$('#subjects').show();
}
else $('#subjects').hide(); //hide div if value is not custom
});
</script>
=======

>>>>>>> cdaf7bbf7fe80e9f63b3276cc089490cf1914691
