<header>
  <nav class="animated slideInDown">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo logo">Tutor Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Contact</a></li>
        <li><a href="collapsible.html">Sign In/Up</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
<div class="container">
  <div class="row">
      <div class="col s8 offset-s2">
        <div class="row formDiv">
          <h4>Complete Your Profile</h4>
          <form action="/profile" method="post" name="profile">

            <div class="input-field s12">
              <select id="uType" name="uType">
                <option value="0" disabled selected>Are You a Student or a Tutor?</option>
                <option value="1">Student</option>
                <option value="2">Tutor</option>
              </select>
              </div>

            <div class="input-field s12">
                <input id="name" type="text" name="name" class="validate">
                <label for="name" data-error="wrong" data-success="right">Full Name</label>
            </div>

              <div class="input-field s12">
                <input id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
              </div>


            <div class="input-field s12">
                <input id="phone" type="text" name="phone" class="validate">
                <label for="phone" data-error="wrong" data-success="right">Phone</label>
              </div>
            
            <div class="input-field s12">
                <input id="address" name="address" type="text" class="validate">
                <label for="address">Address</label>
            </div>

            <div id="subjects" class="input-field s12">
              <select multiple="multiple" name="subjects">
                <option value="" disabled selected>Choose Your Subjects</option>
                <option value="english">Math</option>
                <option value="math">English</option>
                <option value="webDevelopment">Web Development</option>
              </select>
            </div>


             <div class="col s6 offset-s4">
                <button class="btn waves-effect waves-light" type="submit" value="Sign In">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</main>
<footer class="page-footer animated slideInUp">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Deloreans
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

<script type="text/javascript">
$(document).ready(function() {
$('select').material_select();
});
var Privileges = jQuery('#uType');
var select = this.value;
Privileges.change(function () {
if ($(this).val() == '2') {
$('#subjects').show();
}
else $('#subjects').hide(); // hide div if value is not "custom"
});
    </script>