
    <header>
        <nav class="animated slideInDown">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo logo">Tutor Finder</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">About</a></li>
                    <li><a href="badges.html">Contact</a></li>
                    <li><a href="collapsible.html">Sign In/Up</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row subject-row">
                
                  <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose your subject</option>
                        <option value="Coding">Coding</option>
                        <option value="Math">Math</option>
                        <option value="Physics">Physics</option>
                        <option value="Chemistry">Chemistry</option>
                    </select>
                    <label>Select The Subject</label>
                </div>  
              
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Select The Date</label>
                    <input type="date" class="datepicker">
                    <label>Select The Time</label>
                    <input type="time" class="timepicker">
                </div>
            </div>
            <div class="row totur-row">
                
                  <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose your totur</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Select The Totur</label>
                </div>  
               
            </div>
            <div class="row">
                <div class="col s12">
                    <!-- Modal Trigger -->
                  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Book</a>
    
                  <!-- Modal Structure -->
                  <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>Modal Header</h4>
                      <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                    </div>
                  </div>
                </div>  
            </div>
        </div>
    </main>
    <footer class="page-footer animated slideInUp">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Deloreans
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
