<header>

  <nav class="animated slideInDown">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo logo">Tutor Finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/students">My Profile</a></li>
        <li><a href="#">{{students.name}}</a></li>
        <li><a href="/logout">Sign Out</a></li>
        <!-- <li><a href="collapsible.html">Sign In/Up</a></li> -->
      </ul>
    </div>
  </nav>

</header>
<main class="body">

    <div class="container">
        <div class="row ">
            <div class="col s12">
                <div class="header-bg animated fadeIn">
                    <h1 class="header-txt animated slideInLeft">Your Connection</h1>
                    <h1 class="header-txt animated slideInRight">to Education</h1>
                </div>
            </div>
        </div>
        <div class="row mid-main">
                <div id="sub-main1" class="col s4 sub-main animated swing">
                  <div class="sub-div">
                    <i class="large material-icons">supervisor_account</i>
                      <p>In-Person Lessons</p>
                  </div>
                </div>
               
                <div id="sub-main2" class="col s4 sub-main animated swing">  
                  <div class="sub-div">
                      <i class="large material-icons ">today</i>
                    <p>Instant Booking</p>
                  </div>   
                </div>
                <div id="sub-main3" class="col s4 sub-main animated swing">      
                  <div class="sub-div">
                    <i class="large material-icons ">star</i>
                    <p>Easy to Use</p>
                  </div>
                </div>
        </div>
    </div>
  </div>
</div>
</main>
<footer class="page-footer animated slideInUp">
  <!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div> -->
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Deloreans
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>

</footer>


