



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-image: url("bg.jpeg");*/
}

main {
    flex: 1 0 auto;
}
nav, footer{
	font-family: 'Acme', sans-serif;
}
.logo {
    margin-left: 10px;
    /*font-family: 'Handlee', cursive;*/
}

.card-img {
    width: 100px;
    height: 300px;
}

.toast-style {
    background-color: #e57373;
}

.header-bg{
	margin-top: 40px;
	text-align: center;
	/*font-family: 'Handlee', cursive;*/
	padding: 15px;
	background: rgba(255, 235, 238, 1);
	/*opacity: 0.5;*/
}
.header-txt{
	margin-bottom: 0px;
	margin-top: 0px;
	color: #ef5350;
	font-weight: bold;
	/*opacity: 100%;*/
	/*background-color: #fff;*/
	/*padding: 15px;*/

}
.header-students{
	margin-top: 10px;
	background: rgba(255, 235, 238, 1);
	margin-bottom: 0px;
	color: #ef5350;
	font-weight: bold;
}

.popular-car{

	width: 300px;
	height: 300px;
}
/*.card{
	background: rgba(255, 235, 238, 1);
	color: #ef5350;
}*/
.first-div{
	float: left;
	border: solid 2px #fff;
	
}

.second-div{
	float: left;
	border: solid 2px #fff;
	margin: auto;
}
.third-div{
	float: left;
	border: solid 2px #fff;
	margin: auto;
}

.subject-row, .totur-row{
	margin-top: 15px;
}

.mid-main{
	background: rgba(255, 235, 238, 1);
	/*width: 100%;*/
	padding: 20px;
	overflow: auto;
	/*opacity: 0.5;*/
}
